.containers{
  margin-top: 50px;
  height: 400px;
  width: 20%;
  border: 1px solid gray;
 background-color:skyblue
}
div{
 margin-top: 20px;
}
b{
  font-size: larger;
}
button{
  width: 30%;
  margin: 2px;
}